{% extends "layout.html" %}
{% block body %}

<form method="POST">
    <table>
        <tr>
            <td>{{ form.gallery_name.label }}</td>
            <td>{{ form.gallery_name }}</td>
        </tr>
        <tr>
            <td>{{ form.information.label }}</td>
            <td>{{ form.information }}</td>
        </tr>
        <tr>
            <td>{{ form.fee.label }}</td>
            <td>{{ form.fee }}</td>
        </tr>
        <tr>
            <td>{{ form.locations.label }}</td>
            <td>{{ form.locations }}</td>
        </tr>
        <a href="{{ url_for('update_gallery', id=gallery.id) }}">Update Gallery</a><br>
        <a href="{{ url_for('delete_gallery', id=gallery.id) }}">Delete Gallery</a><br>
    </table>
    {{ form.submit }}
    {{ form.hidden_tag() }}
</form>

{% endblock body %}