{% extends "layout.html" %}
{% block body %}
    <h2>{{ location["country"] }}</h2> 
    <h3>{{ location["city"] }}</h2>
    {% for location in locations %}
    <p>
        Country<br>
        {{ location["country"] }}<br> 

        City<br>
        {{ location["city"] }}<br> 
    </p>
    {% endfor %}

    <h4>Galleries of {{  location["city"] }}</h4>
        {% for gallery in location["galleries"] %}
        <p>
            {{ gallery["gallery_name"] }}<br>
            {{ gallery["information"] }}<br> 
            {{ gallery["fee"] }}<br> 
        </p>
    {% endfor %}
{% endblock body %}


