{% extends "layout.html" %}
{% block body %}
    {% for location in locations %}
    <table>
        <h2>{{ location["country"] }}</h2>
        <tr>
            <td><b>Country</b></td>
            <td>{{ location["country"] }}</td> 
        </tr>
        <h3>{{ location["city"] }}</h2>
        <tr>
            <td><b>City</b></td>
            <td>{{ location["city"] }}</td> 
        </tr>
    </table>


    <h3>Galleries of {{ location["country"], location["city"] }}</h3>
    <table>
        <tr>
            <th>Country</th>
            <th>City</th>
        </tr>
        {% for gallery in locations["galleries"] %}
        <tr>
            <td><b>Gallery name</b></td>
            <td>{{ gallery["gallery_name"] }}</td> 

        </tr>
        {% endfor %}
    </table>
   

    {% endfor %}
{% endblock body %}