<!DOCTYPE html>
<html>
    <head>
        <title>Galleries and Cities</title>
    </head>
    <body style="background-color: rgb(176, 211, 235);">
        <h1>Galleries and Cities – {{ title }}</h1>
        <a href="{{ url_for('create_location') }}">Add Country and City</a>
        <a href="{{ url_for('create_gallery') }}">Add Gallery </a>
        <a href="{{ url_for('update_gallery', id=gallery.id) }}">Update Gallery</a>
        <a href="{{ url_for('delete_gallery', id=gallery.id) }}">Delete Gallery</a>
        {% block body %}
        {% endblock %}
    </body>
</html>